* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background: #ffffff;
    color: #222;
}

header {
    background: #222;
    padding: 15px 40px;
}

.menu {
    list-style: none;
    display: flex;
    gap: 20px;
}

.menu a {
    color: rgb(255, 255, 255);
    text-decoration: none;
    font-size: 14px;
}

.hero {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 60px 40px;
    background: rgb(183, 195, 231);
    margin-top: 00px ;
}

.hero-text {
    max-width: 500px;
}

.hero-text h1 {
    font-size: 32px;
    margin-bottom: 10px;
}

.hero-text h2 {
    font-size: 20px;
    color: #555;
    margin-bottom: 15px;
}

.hero-text p {
    font-size: 14px;
    color: #666;
    margin-bottom: 20px;
    line-height: 1.5;
}

.hero-text button {
    padding: 10px 20px;
    background: #222;
    color: white;
    border: none;
    cursor: pointer;
     transition: 0.5s;
}

.hero-text button:hover{
    box-shadow: 1px 1px 9px #222;
    width: 130px;
   
    
}

.hero-img {
    width: 200px;
    height: 200px;
}

.hero-img img {
    width: 100%;
    height: 100%;
    border-radius: 60%;
    object-fit: cover;
}

footer {
    text-align: center;
    padding: 20px;
    font-size: 13px;
    color: #5a5a5a;
    margin-top: 230px;
}

BIO


body{
    display: flex;
    justify-content: center;
    text-align: center;
}

   .pic img{
width: 200px;
height: 200px;
border-radius: 50%;
border: 5px solid rgb(195, 0, 255);
margin-top: 10px;

   } 
   .text h1 b{
    color: black;
   }
   .box{
    width: 400px;
    height: 70px;
    border: 3px solid rgb(128, 74, 203);
    margin-bottom: 10px;
    transition: 0.3s;
    border-radius: 5px;
   }
   .box:hover{
    background-color: rgb(237, 237, 237);
    border-radius: 15px ;
    box-shadow: 2px 10px 5px #222;
   }

   .container{
    display: flex;
    flex-direction: column; 
    align-items: center;
    text-align: center;
   }



   FIGMA




   body{
    margin: 0;
    padding: 0;
}

.block-one{
    background-image: url(./images/Rectangle\ 26.png);
    height:809px;
    background-size: cover;
}

.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 2px solid rgb(57, 57, 57);
    padding: 33px 0px 3px 0px ;

}

.navigator ul{
    display: flex;
    list-style: none;
}

.navigator ul li{
    margin-right: 40px;
    font-family: cursive;
    color: rgba(255, 255, 255, 1);
    font-size: 14px;
    transition: 0.5s;   
    cursor: pointer;
}

.navigator ul li:hover{
    margin-right: 40px;
    font-family: cursive;
    color: rgb(0, 0, 0);
    
}

.logo{
    width: 153;
    height: 46px;
    margin-left: 160px;
}

.icons-block img{
    margin-right: 100px;
}

.block-one-content{
    width:800px;
    height: 450px;
    margin-top: 100px;
    margin-left: 160px;
}

.descriptition h1{
    color: aliceblue;
    font-size: 48px;
    font-weight: bold;

}

.btn .btn-1{
    margin-top: 20px;
}



.cod{
    color: #cacaca;
    margin-left: 550px;

}
